@media (min-width:320px) and (max-width:480px)
{

   .burgerbar{margin-left:0;transform:none!important}
    #feature h4{font-size:23px}
    .overlays{width:175px;height:175px}
    .overlays h4{font-size:23px}
    .footer-content{text-align:center}
    .logo img{height:50px;top: -15px}
    .footer-copyright{clip-path:none!important;
        padding-top:5px!important;
        height:128px

    }
    .footer-copyright p{
        padding: 0!important;
    }
}
@media (min-width:1200px){.side-nav{width:65px;height:215px;transform:translateY(-50%);top:50%}}
